body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.outputText {
    line-height: 1;
    padding: 0;
    margin: 1rem;
}

:focus {

        border-width: 3px;
        border-style: outset;
        border-color: blue;
}

.joinerInputBox {
    margin: 4px;
}

#joinedText h3 {
    display: inline;
    /* padding-left: 5pt; */
}

#simpleCompare{
     padding: 1pt;
     display: flex;
}

#simpleComapre button {
    padding-inline: 1em;
    margin-inline: 5pt;
}

#simpleCompare h5 {
    padding-left: 10pt;
}

#simpleCompareBlank{
    padding: 1pt;
    display: flex;
    background-color:transparent;
}

.rightSimpleCompare {
    background-color: rgb(21, 255, 0); 
}

.wrongSimpleCompare {
    background: tomato;
}

.list-container{
    display: flex;
    justify-content: space-between;
}

.list-container textarea{
    box-sizing: border-box;
}

.list-container h4 {
    display: inline;
}
